
*{
	padding: 0;margin: 0;
}
li{
	list-style: none;
}
body{
	background-image: url('../images/bg.jpg');
}

/*头部区块样式*/
.header_out{
	width: 990px;height: auto;margin: 0 auto;position: relative;
}
.top_out{
	width: 100%;height: 50px;
}
.top_left{
	padding-left: 50px;display: inline-block;line-height: 50px;font-size: 13px;
}
a.collect{
	display: inline-block;float: right;line-height: 50px;text-decoration: none;padding-right: 25px;
}
.logo_out{
	width: 100%;height: 120px;
}

.menu_out{
	width: 100%;height: 45px;
}
.ul_menu{
	margin-left: 10px;
}
.ul_menu>li{
	padding: 0 10px;line-height: 45px;float: left;
}
.ul_menu>li.active{
	background-color: #fff;
}

/*头部区块样式结束*/
/*中间内容区块样式*/
.content_out{
	width: 990px;height: auto;margin: 35px auto;border: 1px solid red;position: relative;
}
.product_out{
	width: 100%;height: auto;
}
.ul_product{
	width: 1008px;height: auto;overflow: hidden;
}
.ul_product>li{
	float: left;width: 234px;height: 315px;margin-right: 18px;margin-bottom: 18px;background-color: #fff;
}
.ul_product>li>a{
	display: inline-block;
}
.ul_product>li>a>img{
	width: 210px;height: 210px;margin: 12px;
}
p.p_price{
	color: #f47777;line-height: 25px;
}
a.a_title{
	line-height: 25px;
}

.content_box{
	width: 100%;height: auto;clear: both;
}
/*中间左边区块*/
.left_out{
	width: 70%;height: auto;float: left;
}
.left_out>ul>li{
	width: 100%;height: 150px;border-bottom: 1px solid red;margin-bottom: 25px;
}
/*中间右边区块*/
.right_out{
	width: 30%;height: auto;float: right;
}
.right_out>h2{
	margin-left: 20px;font-size: 20px;font-weight: 500;color: #343434;
}
.right_out>ol>li{
	height: 14px;line-height: 14px;margin: 15px 0;padding: 0 0 0 19px;
}

/*中间内容区块样式结束*/
/*底部区块样式*/
.bottom_out{
	width: 990px;height: 225px;margin: 0 auto;border: 1px solid red;position: relative;clear: both;
}
/*底部区块样式结束*/

