
<include file="Public:header" />
<!-- header-wrap-end  -->

<div class="page">
  <div class="primary-col">
    <div class="wrap-1">

  <volist name="indexGoods" id='vo' key='k'>
      <div class="panel <if condition='$k%2' >float-right<else/>float-left</if>  ">
        <div class="content"> <img width='120' height='120' src="./{$vo.min_img_path}" alt="{$vo.title}"  class="float-left mar-right20"/>
          <h2><a href="#">{$vo.title}</a></h2>
          <p style='color:#f47777;font-weight:600'>￥ {$vo.new_price}</p>
        </div>
      </div>
  </volist>


    </div>
    <div class="generic bdr-bottom-none">
      
      <volist name='article' id='vo'>  
        <div class="panel"><br/>
          <div class="title">
            <h1><a href="{:U('index/news',array('nid'=>$vo['id']))}">{$vo.n_title}</a></h1>
          </div>
          <div class="content">
            <h2>from：{$config.w_list_title} 阅读：889 标签：{$vo.n_tag}</h2>
            <p>{$vo.n_title}...</p>
            <div class="button"><a href="{:U('index/news',array('nid'=>$vo['id']))}">More Info</a></div>
          </div>
        </div>
      </volist>
        

    </div><br/>
    <div class="clearing"></div>
  </div>
  <!---primary-col-->

<!-- 右侧新闻区块 -->

<include file="Public:right" />

  <!---side-bar -->
</div>

<!---page-->


<!-- 底部区块 -->
<include file="Public:footer" />
