
<include file="Public:header" />
<!-- header-wrap-end  -->

<div class="page">
  <div class="primary-col">
    <div class="wrap-1">

  <for start='0' end='8' name='vo'>
      <div class="panel <if condition='$vo%2' >float-right<else/>float-left</if>  ">
        <div class="content"> <img src="__PUBLIC__/images/img2.jpg" alt="image"  class="float-left mar-right20"/>
          <h2><a href="#">御泥坊红石榴鲜活矿物睡眠面膜180g</a></h2>
          <p style='color:#f47777;font-weight:600'>￥ 29.9</p>
        </div>
      </div>
  </for>


    </div>
    <div class="generic bdr-bottom-none">
      
      <for start='0' end='8' name='vo'>  
        <div class="panel"><br/>
          <div class="title">
            <h1><a href="">御泥坊牵手电影《特殊身份》 甄子丹献唱首映礼</a></h1>
          </div>
          <div class="content">
            <h2>from御泥坊的面膜怎么样 1265阅读 标签:</h2>
            <p>御泥坊适合什么年龄?面膜不分年龄，是分不同的问题如收缩毛孔去黑头这些问题。看针对性来买。有清洁的，有美白的，有保养的，任何年龄都有针对那一类人群，看你自己...</p>
            <div class="button"><a href="#">More Info</a></div>
          </div>
        </div>
      </for>
        

    </div><br/>
    <div class="clearing"></div>
  </div>
  <!---primary-col-->

<!-- 右侧新闻区块 -->

<include file="Public:right" />

  <!---side-bar -->
</div>

<!---page-->


<!-- 底部区块 -->
<include file="Public:footer" />
