
<include file='Public:header' />

<!---header-wrap-end-->
<div class="page">
  <div class="primary-col">
    <div class="generic bdr-bottom-none">
      <div class="panel">

      <div class="portfolio">
        <div class="title">
          <h1>御泥坊</h1>
          <h2>御泥坊，相传在滩头，这个有着1500年历史的湘西边陲小镇，古代的居民们一直保留着一种奇特的“祭泥仪式”。 清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。御泥坊通过网络口碑相传，已成为中国泥浆面膜第一品牌。</h2>
        </div>

<for start='1' end='11' name='vo'> 
    <div class="panel <if condition='$vo%2'>mar-right30</if> ">
      <div class="content"> <img src="__PUBLIC__/images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
</for>

    <!-- <div class="panel mar-right30">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
    <div class="panel">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div> -->                                 

  </div>

      </div>

    </div>
    <div class="clearing"></div>
  </div>
   <!---primary-col-->

  <!-- 右侧新闻区块 -->
  <include file="Public:right" />


</div>


<!---page-->

<!-- 底部区块 -->
<include file="Public:footer" />