
<include file='Public:header' />

<!---header-wrap-end-->
<div class="page">
  <div class="primary-col">
    <div class="generic bdr-bottom-none">
      <div class="panel">

      <div class="portfolio" style='width:600px;'>
        <div class="title">
          <h1>{$config.w_list_title}</h1>
          <h2>{$config.w_list_description}</h2>
        </div>

<volist name='data' id='vo' key='k'> 
    <div class="panel <if condition='$k%2'>mar-right30</if> ">
      <div class="content"> <img src="__ROOT__/{$vo.min_img_path}" alt='{$vo.title}' width='260'/>
        <p>{$vo.title}</p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ {$vo.new_price}</span>
      </div>
    </div>
</volist>

<div class="page">{$page} </div>
<style>
.page>div>a{display: inline-block;width: 26px;line-height: 26px;text-align: center;}
.page>div>span{display: inline-block;width: 26px;line-height: 26px;text-align: center;}
.page>div>.current{border: 1px solid #333;background: #444;color: #fff}

</style>
                                

  </div>

      </div>

    </div>
    <div class="clearing"></div>
  </div>
   <!---primary-col-->

  <!-- 右侧新闻区块 -->
  <include file="Public:right" />


</div>


<!---page-->

<!-- 底部区块 -->
<include file="Public:footer" />