
<include file='Public:header' />
<!-- header-wrap-end  -->

<div class="page  mar-top30">
  <div class="primary-col">
    <div class="generic bdr-bottom-none">
      <div class="panel">
        <div class="title">
          <h1 sytle='text-algin:center'>御泥坊红石榴鲜活矿物睡眠面膜180g</h1>
          <h2>天赐御泥，百年鎏芳——御泥坊“御泥天赐，百年鎏芳” </h2>
        </div>
        <div class="content padBottom">
          <p>天赐御泥，百年鎏芳——御泥坊“御泥天赐，百年鎏芳”，御泥坊是以湖南滩头所特有的矿物泥浆开发研制出的系列天然矿物护肤品品牌，致力打造中国天然矿物养肤品牌。</p>
          <p>御泥坊通过网络口碑相传，受到消费者追捧。品牌先后荣获了最佳面膜、淘宝网最热清洁单品TOP10强、最佳控油面膜、拍拍网热卖化妆品面膜类冠军、网友最喜爱的护肤品牌等荣誉。殊荣不仅在网络，御泥坊先后受到CCTV2、CCTV6、CCTV7、湖南卫视、长沙电视台、隆回电视台、北京《电子商务世界》杂志、《深圳青年》杂志、上海《东方早报》、《潇湘晨报》、《三湘都市报》、湖南电台经济频道、《化妆品报》、《女刊》等多家媒体报道。 </p>
          <p>公司的高速发展，吸引了众多有着知名互联网公司、跨国企业背景的专业人士倾力加盟。团队目前已经汇聚了来自国内各大高校的优秀毕业生，更吸引了从美国、法国、瑞典、加拿大、韩国等学成归来的高级人才。 </p>
          <p>御泥坊期待与行业精英携手，共同为爱美的女性朋友奉献更佳的护肤精品，共创新商业文明时代民族品牌的新辉煌。</p>
        </div>

        <br/>

        <div class="title ">
          <h1 sytle='text-algin:center'>御泥坊红石榴鲜活矿物睡眠面膜180g</h1>
        </div>
        <div class="content padBottom">
          <p>天赐御泥，百年鎏芳——御泥坊“御泥天赐，百年鎏芳”，御泥坊是以湖南滩头所特有的矿物泥浆开发研制出的系列天然矿物护肤品品牌，致力打造中国天然矿物养肤品牌。</p>
          <p>御泥坊通过网络口碑相传，受到消费者追捧。品牌先后荣获了最佳面膜、淘宝网最热清洁单品TOP10强、最佳控油面膜、拍拍网热卖化妆品面膜类冠军、网友最喜爱的护肤品牌等荣誉。殊荣不仅在网络，御泥坊先后受到CCTV2、CCTV6、CCTV7、湖南卫视、长沙电视台、隆回电视台、北京《电子商务世界》杂志、《深圳青年》杂志、上海《东方早报》、《潇湘晨报》、《三湘都市报》、湖南电台经济频道、《化妆品报》、《女刊》等多家媒体报道。 </p>
          <p>公司的高速发展，吸引了众多有着知名互联网公司、跨国企业背景的专业人士倾力加盟。团队目前已经汇聚了来自国内各大高校的优秀毕业生，更吸引了从美国、法国、瑞典、加拿大、韩国等学成归来的高级人才。 </p>
          <p>御泥坊期待与行业精英携手，共同为爱美的女性朋友奉献更佳的护肤精品，共创新商业文明时代民族品牌的新辉煌。</p>
        </div>

      </div>
    </div>
    <div class="clearing"></div>
  </div>
   <!---primary-col-->

  <!-- 右侧新闻区块 -->
  <include file="Public:right" />

</div>

<!---page-->

<!-- 底部区块 -->
<include file="Public:footer" />