
<include file='Public:header' />
<!-- header-wrap-end  -->

<div class="page  mar-top30">
  <div class="primary-col">
    <div class="generic bdr-bottom-none">
      <div class="panel">
        <div class="title">
          <h1 sytle='text-algin:center'>{$data.n_title}</h1>
          <h2>{$data.n_tag}</h2>
        </div>
        <div class="content padBottom">
          <p style="line-height:35px;letter-spacing:2px;text-indent: 2em;">
            {$data.n_content}
          </p>
          <p>
            Time：{$data.n_addtime}
          </p>
        </div>

        <br/>


      </div>
    </div>
    <div class="clearing"></div>
  </div>
   <!---primary-col-->

  <!-- 右侧新闻区块 -->
  <include file="Public:right" />

</div>

<!---page-->

<!-- 底部区块 -->
<include file="Public:footer" />