<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>御泥坊</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.useso.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header-wrap">
  <div class="header">
    <div class="logo">
      <h1>御泥坊</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="about.html"  >关于 </a></li>
        <li><a href="services.html">服务 </a></li>
        <li><a href="work.html" class="active">工作</a></li>
        <li><a href="contact.html">联系我们</a></li>
      </ul>
    </div>
  </div>
</div>

<!---header-wrap-end-->
<div class="page">
  <div class="portfolio">
    <div class="title">
      <h1>御泥坊</h1>
      <h2>御泥坊，相传在滩头，这个有着1500年历史的湘西边陲小镇，古代的居民们一直保留着一种奇特的“祭泥仪式”。 清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。御泥坊通过网络口碑相传，已成为中国泥浆面膜第一品牌。</h2>
    </div>

    <div class="panel mar-right30">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
    <div class="panel mar-right30">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
    <div class="panel">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>

    <div class="panel mar-right30">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
    <div class="panel mar-right30">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
    <div class="panel">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>

    <div class="panel mar-right30">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
    <div class="panel mar-right30">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>
    <div class="panel">
      <div class="content"> <img src="images/ynf.jpg" width='260'/>
        <p>御泥坊 黑玫瑰矿物洁面乳100ml 男女温和去黄亮肤洗面奶正品包邮 </p>
        <a href="#" style='float:right;'>购买</a> <span style='color:#f47777;font-size:16px;'>￥ 29.9</span></div>
    </div>

  </div>
</div>


<!---page-->

<div class="copyright-wrap">
  <div class="copyright">
    <div class="content">
      <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">红石榴鲜活矿物睡眠面膜</a></p>
    </div>
  </div>
</div>
</body>
</html>