<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ChinaZ</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.useso.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header-wrap">
  <div class="header">
    <div class="logo">
      <h1>Business Name</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About </a></li>
        <li><a href="services.html" class="active">Services </a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<!---header-wrap-end--->
<div class="page  mar-top30">
  <div class="primary-col">
    <div class="generic bdr-bottom-none">
      <div class=" panel">
        <div class="title">
          <h1>Services</h1>
        </div>
        <div class="content"> <img src="images/img6.jpg" alt="image"  class="float-left mar-right30"/>
          <h2>Maecenas adipiscing eros vel purus port
            titor pretium tesque id quam risus</h2>
          <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
          <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
        </div>
        <div class="content mar-top30"> <img src="images/img7.jpg" alt="image"  class="float-left mar-right30"/>
          <h2>Integer vitae libero ac risus egestas placerat. Ut aliquam sollicitudin leo.</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        </div>
        <div class="content mar-top30"> <img src="images/img8.jpg" alt="image"  class="float-left mar-right30"/>
          <h2>Donec quis dui at dolor tempor interdum. Vivamus molestie gravida turpis.</h2>
          <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
          <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</p>
        </div>
        <div class="content mar-top30"> <img src="images/img6.jpg" alt="image"  class="float-left mar-right30"/>
          <h2>Fusce lobortis lorem at ipsum semper sagittis.Nam convallis pellentesque nisl.</h2>
          <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
          <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
        </div>
        <div class="content mar-top30"> <img src="images/img7.jpg" alt="image"  class="float-left mar-right30"/>
          <h2>Nam convallis pellentesque nisl.Integer vitae libero ac risus egestas placerat.</h2>
          <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
          <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
        </div>
        <div class="content mar-top30"> <img src="images/img8.jpg" alt="image"  class="float-left mar-right30"/>
          <h2>Praesent placerat risus quis eros.Cras ornare tristique elit.commodo felis quis.</h2>
          <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
          <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
        </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!---primary-col--->
  <div class="side-bar">
    <div class="search">
      <div class="title">
        <h1>Site search here</h1>
      </div>
      <ul>
        <li>
          <input name="" type="text"  class="text-filed"/>
        </li>
        <li><a href="#"><img src="images/search-bt.jpg" alt="search" /></a></li>
      </ul>
    </div>
    <div class="clearing"></div>
    <div class="submenu">
      <div class="panel">
        <div class="title">
          <h1>Submenu here</h1>
        </div>
        <div class="content"> <img src="images/icon1.png" alt="icon"  class="float-left mar-right20"/>
          <h2>Class aptent taciti soc Mauris port<br />
            sed ligula congue ut mollis</h2>
          <ul>
            <li><a href="#" class="active">Curabitur euismod risus vitaesl facilisis vitae</a></li>
            <li><a href="#">Aenean sed nunc id metus pulvinar rutrum</a></li>
            <li><a href="#">Fusce vitae ante nisi, eleifend lobortis diam</a></li>
            <li><a href="#">Vestibulum sagittis magna eu libero faucibus </a></li>
            <li><a href="#">Sed tincidunt magna sed dolor iaculis non</a></li>
            <li class="-noborder-bottom"><a href="#">Etiam lacinia euismod metus, vitae gravid</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearing"></div>
    <div class="testimonnial">
      <div class="panel">
        <div class="title">
          <h1>Testimonials</h1>
        </div>
        <div class="content"> <img src="images/icon2.png" alt="icon"  class="float-left mar-right20"/>
          <h2>Class aptent taciti soc Mauris port<br />
            sed ligula congue ut mollis</h2>
        </div>
        <div class="content">
          <P>“ Curabitur euismod risus vitaesl facilisis vitae Aenean sed nunc id metus pulvinar ”<br />
            <span>John</span> / <a href="#">readmore</a></P>
        </div>
        <div class="content">
          <P>“ Curabitur euismod risus vitaesl facilisis vitae Aenean sed nunc id metus pulvinar ”<br />
            <span>John</span> / <a href="#">readmore</a></P>
        </div>
        <div class="content">
          <P>“ Curabitur euismod risus vitaesl facilisis vitae Aenean sed nunc id metus pulvinar ”<br />
            <span>John</span> / <a href="#">readmore</a></P>
        </div>
      </div>
    </div>
    <div class="quick-contact bdr-bottom-none">
      <div class="panel">
        <div class="title">
          <h1>Quick contact</h1>
        </div>
        <div class="content">
          <h2>Class aptent taciti soc Mauris porta turpis sed ligula congue ut mollis</h2>
        </div>
        <div class="content">
          <P><img src="images/icon3.png"  alt="icon" class="mar-right20"/>BlockNo, Street name, City name, Country</P>
          <P><img src="images/icon4.png"  alt="icon" class="mar-right20"/>(000) 8888 888888 / 889 / 880 </P>
        </div>
      </div>
    </div>
  </div>
  <!---side-bar--->
  <div class="clearing"></div>
</div>
<!---page--->
<div class="footer-wrap">
  <div class="footer">
    <div class="content mar-right30">
      <h1>Useful links</h1>
      <ul>
        <li>Curabitur euismod risus vitaesl facilisis vitae</li>
        <li>Aenean sed nunc id metus pulvinar rutrum</li>
        <li class="bdr-bottom-none">Fusce vitae ante nisi, eleifend lobortis diam</li>
      </ul>
    </div>
    <div class="content  mar-right30 padding-right">
      <h1>Newsletter</h1>
      <p>Curabitur euismod risus vitaesl facilisis vitae Aenean sed nunc id metus</p>
      <div class="newsletter">
        <input name="" type="text"  class="nl-textfiled"/>
        <img src="images/signupbt.jpg" alt="signup" /> </div>
    </div>
    <div class="content">
      <h1>Follow us</h1>
      <div class="social">
        <ul>
          <li><a href="#"><img src="images/aim.png" alt="aim" /></a></li>
          <li><a href="#"><img src="images/facebook.png" alt="aim" /></a></li>
          <li><a href="#"><img src="images/tiwter.png" alt="aim" /></a></li>
          <li><a href="#"><img src="images/linkedin.png" alt="aim" /></a></li>
        </ul>
      </div>
      <p class="mar-top30"> Mail Us<br />
        <a href="mailto:info@businessname.com">info@businessname.com</a> </p>
    </div>
    <div class="clearing"></div>
  </div>
  <div class="clearing"></div>
</div>
<div class="clearing"></div>
<div class="copyright-wrap">
  <div class="copyright">
    <div class="content">
      <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
  </div>
</div>
</body>
</html>
