<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>御泥坊</title>
<link href="__PUBLIC__/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/carouselScript.js"></script>
<link href="__PUBLIC__/css/carousel.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header-wrap">
  <div class="header">
    <div class="logo">
      <h1>御泥坊</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a href="__ROOT__" class="active">首页</a></li>
        <li><a href="{:U('index/lists')}">产品一 </a></li>
        <li><a href="{:U('index/lists')}">产品二 </a></li>
        <li><a href="{:U('index/lists')}">产品三 </a></li>
        <li><a href="{:U('index/lists')}">产品四 </a></li>
      </ul>
    </div>
  </div>
</div>