  
  <div class="side-bar" style='margin-top:50px;'>
    <div class="submenu">
      <div class="panel">
        <div class="title">
          <h1>最热新闻<a href="" style='float:right;font-size:16px;'>>>更多</a></h1>
        </div>
        <div class="content"> <img src="__PUBLIC__/images/icon1.png" alt="icon"  class="float-left mar-right20"/>
          <h2>御泥坊</h2>
          <ul>
            <li><a href="#" class="active">御泥坊红石榴鲜活矿物睡眠面膜180g</a></li>

          <for start='0' end='9' name='vo'>  
            <li><a href="{:U('index/news')}">御泥坊红石榴鲜活矿物睡眠面膜180g</a></li>
          </for>

            <!-- <li class="-noborder-bottom"><a href="#">御泥坊红石榴鲜活矿物睡眠面膜180g</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="clearing"></div>
    <div class="testimonnial">
      <div class="panel">
        <div class="title">
          <h1>热点话题</h1>
        </div>
        <div class="content"> <img src="__PUBLIC__/images/icon2.png" alt="icon"  class="float-left mar-right20"/>
          <h2>红石榴鲜活矿物睡眠面膜</h2>
        </div>

    <for start='0' end='10' name='vo'>  
        <div class="content">
          <P>“ 御泥坊的面膜怎么样？ ”<br />
            <span>御泥坊</span> / <a href="{:U('index/news')}">详情</a></P>
        </div>
    </for>

      </div>
    </div>
    <div class="quick-contact bdr-bottom-none">
      <div class="panel">
        <div class="title">
          <h1>热卖商品 <a href="" style='float:right;font-size:16px;'>>>更多</a></h1>
        </div>

    <for start='0' end='6' name='vo'> 
        <div class="content">
          <a href=""><img src="__PUBLIC__/images/img2.jpg" alt='' /></a>
          <h2>御泥坊红石榴鲜活矿物睡眠面膜</h2>
        </div>
    </for>

      </div>
    </div>
  </div>
  <div class="clearing"></div>