  
  <div class="side-bar" style='margin-top:50px;'>
    <div class="submenu">
      <div class="panel">
        <div class="title">
          <h1>最热新闻<a href="{:U('index/moreNews',array('type'=>0))}" style='float:right;font-size:16px;'>>>更多</a></h1>
        </div>
        <div class="content"> <img src="__PUBLIC__/images/icon1.png" alt="icon"  class="float-left mar-right20"/>
          <h2>{$config.w_list_title}</h2>
          <ul>

          <volist name='hotNews' id='vo' key='k'>  
            <li><a href="{:U('index/news',array('nid'=>$vo['id']))}" <if condition='!$k'>class="active"</if>
              >{$vo.n_title}</a></li>
          </volist>

          </ul>
        </div>
      </div>
    </div>
    <div class="clearing"></div>
    <div class="testimonnial">
      <div class="panel">
        <div class="title">
          <h1>热点话题<a href="{:U('index/moreNews',array('type'=>1))}" style='float:right;font-size:16px;'>>>更多</a></h1>
        </div>
        <div class="content"> <img src="__PUBLIC__/images/icon2.png" alt="icon"  class="float-left mar-right20"/>
          <h2>{$config.w_name}</h2>
        </div>

    <volist name='words' id='vo'>  
        <div class="content">
          <P>“ {$vo.n_title} ”<br />
            <span>{$vo.n_tag}</span> / <a href="{:U('index/news',array('nid'=>$vo['id']))}">详情</a></P>
        </div>
    </volist>

      </div>
    </div>
    <div class="quick-contact bdr-bottom-none">
      <div class="panel">
        <div class="title">
          <h1>热卖商品 <a href="{:U('index/lists',array('cid'=>5))}" style='float:right;font-size:16px;'>>>更多</a></h1>
        </div>

    <volist name="hotGoods" id="vo" > 
        <div class="content">
          <a href=""><img width='120' height='120' src="__ROOT__/{$vo.min_img_path}" alt="{$vo.title}" /></a>
          <h2>{$vo.title}</h2>
        </div>
    </volist>

      </div>
    </div>
  </div>
  <div class="clearing"></div>